#about{
    margin-left:91px;
    margin-top: 220px;
    
}
#about1{
    width: 50%; /* Set the width of the left section */
            float: left; /* Float the left section to the left */
            background-color:transparent; /* Background color for the left section */
            padding: 20px;
            margin-top: -8%;
            
            
}
#para{
    
    text-align: center;
    color: black;
    font-size: large;
    font-family:Helvetica;
}
/* .rect 
{
    width: 80%;
    height: 390px;
    background-color: rgb(136, 33, 33);
    padding: 20px;
    margin-left: 115%;
    margin-top: -320px;
    position: relative;
    transition: transform 0.3s; 
}

.rect1 {
    width: 80%;
    height: 400px;
    margin-top: -350px;
    margin-left: 114%;
    padding: 20px;
    margin-top: -380px;
    position: relative;
    transition: transform 0.3s; 
}
.rect1:hover .rect{
    transform: translate(20px, -32px); 
}
*/

#frame {
    width:500px ;
    height:350px;
    left: 14px;
    position: absolute;
    background-color:#D96846;
    transition: all 0.3s ease; 
    transform: translate(-2px, 0px); 
    z-index: -1;
    margin-top: -348px;
    
    
}

#imageabout1{
   margin-left: 23px;
   margin-top: 50px;
}

#aboutwhole{
    margin-left: 110%;
    margin-top: -59%;
}
#imageabout {
    width: 500px;
    height: 350px;
    position: relative;
    opacity: 85%;
}

#imageabout:hover .frame {
    transform: translate(20px, -20px); 
   
    
}


/* Style for each half */
#half {
    flex: 1; /* Make both halves take equal space */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D96846; /* Background color for the halves */
    /* Add a border for separation (optional) */

}
#half1 {
    flex: 1; /* Make both halves take equal space */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Background color for the halves */
    border: 1px solid #ccc; /* Add a border for separation (optional) */
}
#box{
    text-align: center;
    margin-top: 30px;
}
#bp{
    text-align: center;
    word-spacing: 0.2em;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}
#bp1{
    text-align: center;
    word-spacing: 0.2em;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
}
#val1{
    text-align: center;
    margin-top: 50px;
    word-spacing: 0.1em;
}
#val2{
    color: black;
    text-align: center;
    margin-top: 15px;
}

