@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,700;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Titillium Web', sans-serif;;
}

:root{
   --mainColor:#8995c3;
   --mainColorLight:#5767aa;
   --secondaryColor:#DB2B39;
   --textColor:#030000;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    font-size:1.3rem;
}

nav a:hover
{
    color: var(--secondaryColor);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}
.logo{
    z-index: 2;
    
}

@media only screen and (max-width: 1024px)
{
     header .nav-btn{
        visibility: visible;
        opacity: 1;
     }

     header nav{
        position: fixed;
        top:0;
        left:0;
        height:100%;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:1.5rem;
        background-color: var(--mainColor);
        transition: 1s all;
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn
    {
     position: absolute;
     top:2rem;
     right:2rem;
    }

    nav a{
        font-size:2rem;
    }

    
}

