.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates a 4-column grid */
    gap: 80px; /* Adds spacing between grid items */
    padding: 50px;
   margin: 0 auto;
   max-width: 1030px;
  }
  
  .grid-item {
    background-color: #f0f0f0;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  .grid-item img {
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    max-height: 100%; /* Prevent image from being taller than its container */
    display: auto; /* Remove any extra spacing below the image */
    margin: 0 auto; /* Center the image within its container */
  }
  .grid-item h3{
    text-align: center;
    color: black;
  }
  .grid-item:hover{
    transform: scale(1.1);
    background-color: rgb(72, 45, 180);
  }
  .available{
    text-align: center;
    margin-top: 20px;
    color: rgb(26, 5, 5);
  }
  .available:hover{
    transform: scale(1.2);
  }
  .para{
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .whole{
   /* background-image: url(../images/availablebg.mp4);  */
    background-repeat: no-repeat;
    margin-top: -20px;
    background-size: cover;
    padding: 0;
     background: rgb(248, 248, 248); 
  }
  .App {
    text-align: center;
  }
  
  .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: background-color 0.5s;
  }
  
  .section:nth-child(odd) {
    background-color: #f0f0f0;
  }
  
  .section:nth-child(even) {
    background-color: #e0e0e0;
  }
  .footer{
    background-color: grey;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
  }
  .footer h3{
    color: black;
  }

  
  
  
  
  
  
 /* this is for mobile view */
  
  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr); /* Two columns */
    }
  }

